extends ../../layouts/default.pug

block main
  div(class="kt-card ")
    div(class="kt-card-header")
      div(class="kt-card-heading")
        h2(class="kt-card-title") Phân quyền
      div(class="kt-card-toolbar")
        div Tiếng việt
    div(class="kt-card-content ")