footer(class="kt-footer")
  // Container
  div(class="kt-container-fixed")
    div(class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5")
      div(class="flex order-2 md:order-1 gap-2 font-normal text-sm")
        span(class="text-secondary-foreground")
          | 2025©
        a(class="text-secondary-foreground hover:text-primary", href="https://keenthemes.com/")
          | Quang Trần
      nav(class="flex order-1 md:order-2 gap-4 font-normal text-sm text-secondary-foreground")
        a(class="hover:text-primary", href="https://keenthemes.com/metronic/tailwind/docs")
          | Docs
        a(class="hover:text-primary", href="../../../../../themeforest.net/cart/configure_before_adding/402146974a7.html")
          | Purchase
        a(class="hover:text-primary", href="https://keenthemes.com/metronic/tailwind/docs/getting-started/license")
          | FAQ
        a(class="hover:text-primary", href="../../../../../devs.keenthemes.com/index.html")
          | Support
        a(class="hover:text-primary", href="https://keenthemes.com/metronic/tailwind/docs/getting-started/license")
          | License
  // End of Container

